In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Lat,Lng,Date,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
0,0,Thompson,55.7435,-97.8558,2021-11-26 22:38:02,14.16,light snow,92,90,3.44,CA
1,1,Pevek,69.7008,170.3133,2021-11-26 22:38:02,-26.99,scattered clouds,99,34,5.77,RU
2,2,Hermanus,-34.4187,19.2345,2021-11-26 22:38:02,64.15,light rain,92,100,7.02,ZA
3,3,Bluff,-46.6000,168.3333,2021-11-26 22:38:03,50.31,overcast clouds,59,100,5.50,NZ
4,4,Ushuaia,-54.8000,-68.3000,2021-11-26 22:35:37,49.66,broken clouds,46,75,21.85,AR
...,...,...,...,...,...,...,...,...,...,...,...
549,549,Asau,46.4333,26.4000,2021-11-26 22:51:27,41.92,overcast clouds,93,100,5.97,RO
550,550,Cururupu,-1.8283,-44.8683,2021-11-26 22:51:28,76.12,broken clouds,89,83,3.44,BR
551,551,Shimoda,34.6667,138.9500,2021-11-26 22:51:28,53.17,clear sky,53,0,18.32,JP
552,552,Quatre Cocos,-20.2078,57.7625,2021-11-26 22:51:28,73.51,clear sky,70,0,4.81,MU
553,553,Umba,66.6871,34.3429,2021-11-26 22:51:29,13.91,few clouds,91,23,8.95,RU

In [3]:
city_data_df.dtypes

City_ID                  int64
City                    object
Lat                    float64
Lng                    float64
Date                    object
Max Temp               float64
Current Description     object
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Country                 object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
from config import g_key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature. Change negative temps to zero
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#zoom in map
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 76
What is the maximum temperature you would like for your trip? 89

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Date,Max Temp,Current Description,Humidity,Cloudiness,Wind Speed,Country
8,8,Hilo,19.7297,-155.0900,2021-11-26 22:37:08,80.33,scattered clouds,54,40,5.75,US
10,10,Bal-Os,9.4416,122.6257,2021-11-26 22:38:04,79.50,overcast clouds,83,96,6.44,PH
13,13,Norsup,-16.0667,167.3833,2021-11-26 22:38:05,83.21,few clouds,71,18,12.64,VU
15,15,Butaritari,3.0707,172.7902,2021-11-26 22:38:05,82.38,overcast clouds,73,98,18.88,KI
18,18,Rikitea,-23.1203,-134.9692,2021-11-26 22:38:06,76.32,overcast clouds,71,99,14.99,PF
36,36,Guanica,17.9716,-66.9080,2021-11-26 22:38:09,77.68,scattered clouds,68,47,8.10,PR
46,46,Kirakira,-10.4544,161.9205,2021-11-26 22:38:12,85.05,broken clouds,68,65,5.53,SB
48,48,Vaini,-21.2000,-175.2000,2021-11-26 22:39:12,87.96,light rain,79,75,6.91,TO
53,53,Cockburn Town,21.4612,-71.1419,2021-11-26 22:39:13,78.76,broken clouds,65,75,5.75,TC
62,62,Bubaque,11.2833,-15.8333,2021-11-26 22:39:15,83.19,overcast clouds,72,98,13.58,GW

In [13]:
preferred_cities_df.count()

City_ID                132
City                   132
Lat                    132
Lng                    132
Date                   132
Max Temp               132
Current Description    132
Humidity               132
Cloudiness             132
Wind Speed             132
Country                131
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
8            Hilo      US     80.33  19.7297 -155.0900
10         Bal-Os      PH     79.50   9.4416  122.6257
13         Norsup      VU     83.21 -16.0667  167.3833
15     Butaritari      KI     82.38   3.0707  172.7902
18        Rikitea      PF     76.32 -23.1203 -134.9692
36        Guanica      PR     77.68  17.9716  -66.9080
46       Kirakira      SB     85.05 -10.4544  161.9205
48          Vaini      TO     87.96 -21.2000 -175.2000
53  Cockburn Town      TC     78.76  21.4612  -71.1419
62        Bubaque      GW     83.19  11.2833  -15.8333

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel
10,Bal-Os,PH,79.50,9.4416,122.6257,The Millares
13,Norsup,VU,83.21,-16.0667,167.3833,Nabelchel Bungalows
15,Butaritari,KI,82.38,3.0707,172.7902,Isles Sunset Lodge
18,Rikitea,PF,76.32,-23.1203,-134.9692,People ThankYou
...,...,...,...,...,...,...
531,Kloulklubed,PW,84.20,7.0419,134.2556,Storyboard Beach Resort
534,Voh,NC,87.67,-20.9667,164.7000,Le gÃ®te du Koniambo
538,Kedougou,SN,81.27,12.5579,-12.1743,Relais de KÃ©dougou
548,The Valley,AI,76.86,18.2170,-63.0578,CeBlue Villas & Beach Resort
550,Cururupu,BR,76.12,-1.8283,-44.8683,POUSADA TRAVÃ‰S'CIA

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))